<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerMapper">

	<insert id="customerInsert" parameterType="customer">
		INSERT INTO
		CUSTOMER_INFO
		(CUSTOMER_ID, CUSTOMER_PASSWORD , CUSTOMER_NAME , CUSTOMER_PH, CUSTOMER_EMAIL , CUSTOMER_AGE ,CUSTOMER_GENDER ,CUSTOMER_FLAG)
		VALUES
		(#{customer_id} , #{customer_password} , #{customer_name} ,  #{customer_ph}, #{customer_email},#{customer_gender} ,#{customer_age}, #{customer_flag})
	</insert>

	 <select id="customerLogin" parameterType="customer" resultType="customer">
		SELECT *
		FROM CUSTOMER_INFO
		WHERE CUSTOMER_ID = #{customer_id} AND CUSTOMER_PASSWORD = #{customer_password}
	</select> 
	

	

</mapper>

